/* Aquí se agregan clases personalizadas de Tailwind */
.bg-opacity-0 {
    background-color: rgba(159, 154, 154, 0.186);
}
.parallax-bg {
    background-image: url("../images/imagen1.jpeg"); /* Cambia la URL a tu imagen */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/* Animación de desvanecimiento */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 3s forwards;
}


/* titulo de section 2 */

.proyectos-empresa {
    
    padding-bottom: 50px; /* Reduce el padding general */
    text-align: center; /* Centra el texto horizontalmente */
    background-color: #f5f5f500; /* Color de fondo simple */
    overflow: hidden; /* Asegura que el contenido no se desborde */
}

.animate-text {
    font-family:'Times New Roman', Times, serif;
    font-size: 3rem; /* Tamaño del texto aumentado */
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: typing 3s steps(30, end) forwards;
    margin: 0; /* Elimina márgenes externos que podrían estar causando el recorte */
    padding: 0; /* Elimina el padding interno que podría estar afectando el tamaño del contenedor */
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; } /* Termina al final del texto */
}


/* CARRUSEL */

/* Estilos para el carrusel */
.swiper-slide {
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: center; /* Centra horizontalmente el contenido */
    position: relative; /* Necesario para el posicionamiento de la descripción */
    overflow: hidden; /* Asegura que nada se salga del contenedor */
    width: 100%; /* Ajusta el ancho del swiper-slide al 100% */
    height: 450px; /* Permite que la altura se ajuste automáticamente */
    box-shadow: 12px 8px 0px rgba(49, 55, 82, 0.903), /* Sombra más difusa */
    12px 8px 0px rgba(44, 67, 103, 0.936); /* Sombra más suave */
    border-radius: 10px;
    
}

/* Estilos para el contenedor de la imagen */
.swiper-slide > div {
    position: relative;
     /* Bordes redondeados más sutiles */
    overflow: hidden; /* Asegura que el borde y la sombra no se salgan del contenedor */
    width: 100%; /* Ajusta el ancho del contenedor al 100% del swiper-slide */
    max-width: 100%; /* Ancho máximo del contenedor */
    height: 100%; /* Altura del contenedor */
    margin: auto; /* Centra horizontalmente el contenedor */
    
    
    
}

/* Estilos para la imagen dentro del contenedor */
.swiper-slide img {
   
    display: block; /* Elimina el espacio debajo de la imagen */
    width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
    height: 100%; /* Ajusta la altura de la imagen al 100% del contenedor */
    object-fit: cover; /* Asegura que la imagen se ajuste sin distorsionarse */
    border-radius: 10px;
    
}

/* Estilos para la descripción del carrusel */
.carousel-description {
    position: absolute;
    top: 0; /* Empieza desde la parte superior */
    left: 0; /* Empieza desde la parte izquierda */
    width: 100%; /* Ocupa todo el ancho del contenedor */
    height: 100%; /* Ocupa toda la altura del contenedor */
    background-color: rgba(0, 0, 0, 0.6); /* Fondo oscuro con mayor opacidad */
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    display: flex; /* Usar flexbox para centrar la descripción */
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
    padding: 10px;
    box-sizing: border-box; /* Asegura que el padding no aumente el tamaño del elemento */
    transition: opacity 0.5s ease;
    opacity: 0; /* Inicialmente invisible */
    z-index: 10; /* Asegura que la descripción esté encima de la imagen */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
   
}

/* Mostrar la descripción al pasar el ratón */
.swiper-slide:hover .carousel-description {
    opacity: 1;
}

/* Estilos generales de las secciones */
section {
    padding: 2rem; /* Ajusta el padding aquí */
}

section + section {
    margin-top: 2rem; /* Espaciado entre secciones */
}

.swiper-pagination-bullet {
    background-color: #fae5e1; /* Cambia este color por el que desees */
  }


 /* css de los integrantes*/

  .spacer {
    height: 100%; /* Simula contenido antes y después del contenedor de concursantes */
  }
  
  .contestants-wrapper {
    width: 50%;
    margin: 0 auto;
    
    
  }
  
  .contestant {    
    
    text-align: justify;
    border-radius: 1rem;
    font-size: 1rem;
    color:white;
    background-color: rgba(9, 46, 74, 0.213);
    display: flex;
    align-items: center;
    margin: 20px 0; /* Espaciado entre concursantes */
    opacity: 0.8;
    transition: opacity 5s ease, transform 3s ease; /* Transición más lenta */
  }
  
  .contestant img {
    width: 210px;  /* Tamaño ajustado */
    height: 250px; /* Tamaño ajustado */
    margin-right: 20px;
    border-radius: 20px;
  }

  .description{
    padding-left: 10px;
    padding-right: 50px;
  }
  
  .contestant.left {
    transform: translateX(-150%); /* Posición inicial fuera de vista */
  }
  
  .contestant.right {
    transform: translateX(150%); /* Posición inicial fuera de vista */
    flex-direction: row-reverse; /* Invierte el orden de la imagen y la descripción */
  }
  
  .contestant.show {
    opacity: 0.8;
    transform: translateX(0);
  }
  
  .contestant.hide.left {
    opacity: 0.2;
    transform: translateX(-150%); /* Desliza hacia la izquierda mientras se desvanece */
  }
  
  .contestant.hide.right {
    opacity: 0.3;
    transform: translateX(150%); /* Desliza hacia la derecha mientras se desvanece */
  }
  


 /* Estilo de animación para el efecto de zoom */
 .card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

/* Estilo de tarjeta flotante */
.card {
  color: white;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.7), 0 4px 6px -2px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: #1f2937; /* Fondo oscuro para las tarjetas */
}

.card img{
  border-radius: 15px;
  mask-image: linear-gradient(rgba(235, 233, 233, 0.777) 90%, transparent);
}


























