/* Aquí se agregan clases personalizadas de Tailwind */
.bg-opacity-0 {
    background-color: rgba(159, 154, 154, 0.186);
}
.parallax-bg {
    background-image: url('https://images.pexels.com/photos/115655/pexels-photo-115655.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); /* Cambia la URL a tu imagen */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Animación de desvanecimiento */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 3s forwards;
}


/* CARRUSEL */

/* Estilos para el carrusel */
.swiper-slide {
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: center; /* Centra horizontalmente el contenido */
    position: relative; /* Necesario para el posicionamiento de la descripción */
    overflow: hidden; /* Asegura que nada se salga del contenedor */
    width: 100%; /* Ajusta el ancho del swiper-slide al 100% */
    height: auto; /* Permite que la altura se ajuste automáticamente */

    
}

/* Estilos para el contenedor de la imagen */
.swiper-slide > div {
    position: relative;
    border: 3px solid rgba(178, 208, 196, 0.638); /* Borde más delgado */
    border-radius: 10px; /* Bordes redondeados más sutiles */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19); /* Sombra sutil */
    overflow: hidden; /* Asegura que el borde y la sombra no se salgan del contenedor */
    width: 100%; /* Ajusta el ancho del contenedor al 100% del swiper-slide */
    max-width: 400px; /* Ancho máximo del contenedor */
    height: 300px; /* Altura del contenedor */
    margin: auto; /* Centra horizontalmente el contenedor */
    background-color: transparent; /* Fondo transparente para el contenedor */
    background-color: rgba(255, 255, 255, 0.1); /* Fondo sutilmente claro */
    transition: transform 0.3s, box-shadow 0.3s;
    
}

/* Estilos para la imagen dentro del contenedor */
.swiper-slide img {
    display: block; /* Elimina el espacio debajo de la imagen */
    width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
    height: 100%; /* Ajusta la altura de la imagen al 100% del contenedor */
    object-fit: cover; /* Asegura que la imagen se ajuste sin distorsionarse */
    
}

/* Estilos para la descripción del carrusel */
.carousel-description {
    position: absolute;
    top: 0; /* Empieza desde la parte superior */
    left: 0; /* Empieza desde la parte izquierda */
    width: 100%; /* Ocupa todo el ancho del contenedor */
    height: 100%; /* Ocupa toda la altura del contenedor */
    background-color: rgba(0, 0, 0, 0.6); /* Fondo oscuro con mayor opacidad */
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    display: flex; /* Usar flexbox para centrar la descripción */
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
    padding: 12px;
    box-sizing: border-box; /* Asegura que el padding no aumente el tamaño del elemento */
    transition: opacity 0.5s ease;
    opacity: 0; /* Inicialmente invisible */
    z-index: 10; /* Asegura que la descripción esté encima de la imagen */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Mostrar la descripción al pasar el ratón */
.swiper-slide:hover .carousel-description {
    opacity: 1;
}

/* Estilos generales de las secciones */
section {
    padding: 2rem; /* Ajusta el padding aquí */
}

section + section {
    margin-top: 2rem; /* Espaciado entre secciones */
}


































